// TemperatureChart.module.scss
.chart-container {
  // Базовые стили для графика
  .recharts-text {
    fill: #ffffff; // Белый цвет текста
  }

  // Адаптивные стили
  @media screen and (max-width: 480px) {
    // Стили для экранов шириной до 480px
    .recharts-text {
      font-size: 10px; // Уменьшаем размер шрифта
    }

    .recharts-legend-item {
      font-size: 10px; // Уменьшаем размер шрифта в легенде
    }

    .recharts-cartesian-axis-tick {
      font-size: 10px; // Уменьшаем размер шрифта на осях
    }
  }
}

